#video
{
   width: 100%;
   height: 500px;
   border: none;
}

.campus_mainDiv
{
   border: 1px solid lightgrey;
}

.campus_mainDiv img{
   width: 100%;
}

.campus_mainDiv h5, .campus_mainDiv p
{
   margin: 20px;
}